html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $brown;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1154px;
  margin: 0 auto;
  padding: 0 15px;
}
