@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 16px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  margin-left: auto;
  &__list {
    display: flex;
  }
  &__list-item + &__list-item {
    margin-left: 24px;
  }
}
.user-nav {
  margin-left: 52px;
  margin-right: 13px;
  &__link {
    color: #173a56;
    line-height: 24px;
    font-weight: 600;
    padding: 11px 23px;
    border: 1px solid #bcd0e5;
    border-radius: 5px;
    outline: none;
  }
  &__link + &__link {
    color: #fff;
    background-color: $accent;
    border: 1px solid $accent;
  }
}

.top {
  &__inner {
    padding: 133px 0 80px;
    background-image: url(../images/top-img.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
    max-width: 518px;
  }
  &__text {
    font-size: 18px;
    line-height: 28px;
    max-width: 458px;
    margin-bottom: 45px;
  }
  &__btn {
    border: 1px solid transparent;
    background-color: $accent;
    font-weight: 700;
    color: #fff;
    padding: 15px 40px;
    margin-right: 30px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      border: 1px solid $accent;
      color: $accent;
      background-color: transparent;
    }
  }
  &__link {
    line-height: 24px;
    display: inline-block;
    font-weight: 600;
    color: $accent;
    text-decoration: underline;
    //   border-bottom: 2px solid $accent;
    position: relative;
    padding-left: 25px;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/play.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 19px;
      left: 0;
      top: 3px;
    }
  }
}

.blog {
  padding: 30px 0 120px;
  &__title {
    font-size: 34px;
    line-height: 51px;
    font-weight: 700;
    margin-bottom: 9px;
  }

  &__text {
    margin-bottom: 55px;
  }
}
.slick {
  &-slide {
    margin: 0 20px;
  }

  &-list {
    margin-left: -20px;
    margin-right: -20px;
  }
  &-dots {
    display: flex;
    justify-content: center;
    button {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: none;
      background-color: #efefef;
      font-size: 0;
      padding: 0;
      outline: none;
      margin: 0 5px;
    }
  }
  &-active {
    button {
      background-color: $accent;
    }
  }
}

.slider {
  &__item {
  }

  &__item-img {
    width: 348px;
    height: 185px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 25px;
  }

  &__item-info {
    margin-bottom: 12px;
    line-height: 28px;
  }

  &__item-link {
    font-weight: 700;
    color: #544837;
  }

  &__item-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    transition: all 0.5s ease;
    margin-bottom: 84px;
    display: inline-block;
    &:hover {
      color: $accent;
    }
  }
}

.footer {
  &__inner {
    padding: 105px 0 100px;
    border-top: 1px solid rgba(#bcd0e5, 0.5);
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    width: 135px;
  }

  &__menu-title,
  &__form-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 35px;
    font-weight: 400;
  }

  &__list {
  }

  &__menu-item {
  }

  &__menu-link {
    line-height: 35px;
    font-weight: 400;
    color: $text;
  }

  &__form {
    width: 330px;
  }

  &__form-text {
  }

  &__form-input {
    height: 48px;
    padding: 0 15px;
    border: 1px solid #bcd0e5;
    width: 100%;
    display: inline-block;
    margin-bottom: 21px;
    border-radius: 4px;
    outline: none;
    &::placeholder {
      font-size: 16px;
      line-height: 28px;
      color: #bcd0e5;
    }
  }

  &__form-btn {
    background-color: $accent;
    border-radius: 4px;
    color: #fff;
    padding: 8px 15px 7px;
    font-weight: 700;
    border: none;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $accent;
      color: $accent;
      background-color: transparent;
    }
  }
}

.menu__btn{
  width: 40px;
  height: 30px;
  display: none;
  span{
    display: block;
    height: 2px;
    background-color: #000;
    width: 100%;
    position: absolute;
    left: 0;
    &::after{
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: #000;
      left: 0;
      top: 15px;
    }
    &::before{
      content: '';
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: #000;
      left: 0;
      bottom: -30px;
    }
  }
}

@import "media";
